@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

.wrapper {
    margin: 0 60px;
}

/*ヘッダー↓*/
header {
    display: flex;
    background-color: #f7f7f5;
    border-bottom: solid 10px #ffffff;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
}

header div {
    font-family: "Amatic SC", sans-serif;
    font-size: 2rem;
}

.icons {
    width: 32px;
    height: 32px;
}

#logo {
    width: 200px;
    margin: 5px auto;
    display: flex;
    align-items: center;
}

#logo a {
    display: inline-block
}

button {
    width: 32px;
    height: 32px;
}
/*ヘッダー↑*/

/*サイドメニュー↓*/
#menu {
    width: 200px;
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(222, 189, 207, .7);
    line-height: 1.5;
    padding: 10px 10px;
    border-radius: 5px;
    translate: -200px 0;
}

#close_btn {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 21;
}
/*サイドメニュー↑*/

/*検索ボックス↓*/
#search_box {
    width: 200px;
    font-size: 1rem;
    position: fixed;
    top: 32px;
    right: 0;
    z-index: 20;
    background-color: rgba(222, 189, 207, .7);
    padding: 10px 15px;
    border-radius: 5px;
}

.toggle {
    visibility: hidden;
}

#search_box input {
    border: 1px solid #f7f7f5;
}
/*検索ボックス↑*/

#first_view {
    background-image: url(../images/first_view.jpg);
    background-position: top center;
    background-size: cover;
    height: 500px;
}

#first_view h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    padding-top: 70px;
    padding-left: 70px;
}

/*コンテンツ↓*/
#content {
    display: flex;
    justify-content: space-between;
}

#content h2 {
    background-color: #f5e890;
    width: 150px;
    border-radius: 16px;
    text-align: center;
    margin: 100px 0 15px;
}

/*商品スライド↓*/
#slide_container {
    display: flex;
    margin: 100px 0 15px;
}

.item_slides {
    width: 400px;
    height: 400px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(227, 207, 186, .5);
    box-shadow: 5px 5px 10px #736e6a;
}

#slide, #slide2 {
    animation: imgfade 4s infinite;
    opacity: 0;
}

@keyframes imgfade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/*商品スライド↑*/

/*新商品↓*/
#new_item {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
/*新商品↑*/

/*ランキング↓*/
#ranking {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
/*ランキング↑*/

/*おすすめ↓*/
#recommend {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
/*おすすめ↑*/

/*サイドバー↓*/
aside {
    max-width: 200px;
}

aside h3 {
    margin-top: 15px;
    border-bottom: solid 1px #e0a2c4;
    width: 200px;
    text-align: center;
}

aside ul {
    margin-left: 15px;
}

#information div {
    font-size: 0.8rem;
}

#information div span {
    font-weight: bold;
}

.date {
    margin-top: 20px;
}
/*サイドバー↑*/

/*コンテンツ↑*/

/*フッター↓*/
footer {
    background-color: #f7f7f5;
    border-top: solid 10px #ffffff;
}

#copyright {
    text-align: center;
}

#site_map {
    display: flex;
    justify-content: center;
    font-size: .8rem;
    margin-top: 40px;
}

#site_map div {
    padding: 30px 20px;
}

#find {
    border-left: 1px solid #b8b4b6;
}

#find p:nth-child(1) {
    border-bottom: 1px solid #b8b4b6;
    font-weight: bold;
    font-size: .9rem;
}

#find p:nth-child(2) {
    padding-top: 5px;
}

#find p {
    padding-bottom: 5px;
}

#sns {
    display: flex;
    justify-content: center;
}

#sns img {
    width: 25px;
}

/*フッター↑*/